<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <script src="../routes/addLike.js"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <h1>Likes Page</h1>
    <form>
      <input type="text" />
      <button>Search</button>
    </form>
    <form action="">
      <% for (like of users_likes ) { %>
      <article>
        <h2><%= like.resource.title %></h2>
        <p><%= like.resource.description %></p>
        <a href="<%= like.resource.url %>"><%= like.resource.url %></a>
        <br />
        <span
          ><%= like.resource.rate.reduce((sum, curr) => sum += curr) /
          like.resource.rate.length %> Stars</span
        >
        <span>
          <%= like.comments.reduce((count, curr) => { if (like.resource.id ===
          curr.like.resource_id) count++; return count; }, 0) %> Comments
        </span>
      </article>
      <% } %>
    </form>
  </body>
</html>
