<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/likes.css" />
    <script src="../routes/likes.js"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include partials/_header.ejs %>


    <h1 class="page-name"><i class="fa-solid fa-diamond"></i> Likes Page <i class="fa-solid fa-diamond"></i></h1>


    <form class="article-container" method="get" action="/likes">
      <% for (let resource in resources) { %>
      <article>
        <a class="resource-title" href="<%=resources[resource]["title"]%>"><%= resources[resource]["title"]%></a>

        <p class="resource-desc"><%= resources[resource]["description"] %></p>
        <p class="resource-tags"><%= resources[resource]["tags"] %></p>
        <p class="resource-id"><%= resources[resource]["user_id"]%></p>
      </article>
      <% } %>
    </form>
  </body>
</html>
